table {
	display: block;
	border: solid 1px #E8E8E8;
	border-collapse: collapse;
	margin-top : 20px;
	margin-left: 20px;
	max-height: 450px;
	min-height: 400px;
	max-width: 550px;
	min-width: 350px;
	overflow: scroll;

}


th {
	background : #87CEEB;
	text-align: center;
	vertical-align: middle;
	margin:  0px 5px;
	position: sticky;
	top: 0px;
	width: 70px;
}


td { 
	text-align: center;
	resize: both;
}

td:first-child  {	
	background: #87CEEB;
	font-weight: bold;
	position: sticky;
	left : 0px;
	width: 70px;
}
tr:nth-child(odd) {
	background: #CFCFCF;
}