<!--<h3>Characters:</h3>-->
<!--<ul>-->

<!--    {%for name in dict_all_characters%}-->
<!--    {% for url_character in film['characters'] %}-->
<!--        {% if dict_all_characters[name]== url_character %}-->
<!--        <li><a href="/{{ dict_all_numbers_character[name] }}/people">{{ name }}</a></li>-->
<!--      {% endif %}-->
<!--    {% endfor %}-->
<!--  {% endfor %}-->
<!--</ul>-->

<h3>Planets:</h3>

<ul>
    {%for planet in dict_all_planets%}
        {% for url_planet in film['planets'] %}
            {% if dict_all_planets[planet] ==  url_planet%}
                <li><a href="/{{ dict_all_numbers_planet[name] }}/planet">{{ planet }}</a></li>
            {% endif %}
        {% endfor %}
    {% endfor %}

</ul>